@media (min-width: 901px) {
  /*Nav*/
    header {
      width: 100%;
      display: block;
    }
    .head{
      width: 45%;
      padding-left: 5%;
      display: inline-block;
      vertical-align: middle;
    }

  /*Burguer Menu*/
  
    header input:checked ~ nav {
      display: inline-block;
    }
  
    input{
      display: none;
    }
    header .fa-bars, header .fa-times {
      display: none;
    }
    header nav{
      display: inline-block;
      width: 45%;
    }
    /*End BurguerMenu*/

    .item{
      width: 24%;
      display: inline-block;
      vertical-align: middle;
      background-color: white;
    }  
    .a{
      background-color: white;
    }
  
  /*Begin*/
    .begin{
      margin-top: 3%;
      padding:1% 10%;
    }
    h1{
      width: 75%;
    }
  
    .p1{
      display: none;
    }
    .p2{
      display: block;
      width: 600px;
    }
  
  /*Episodes*/
  
    .episodios{
      display: flex;
      flex-direction: column;
      padding: 0% 5%;
      padding-top: 5%;
      padding-bottom: 15%;
    }
    
    h2{
      padding-top: 3%;
      padding-left: 5%;
      color: white;
    }
  
    .epi{
      display: flex;
      flex-direction: row;
      flex-wrap:wrap;
    }
  
    .figure{
      width: 48%;
      padding: 0% 1%;
    }
  
  /*Us*/
    .nosotros{
      flex-direction: row;
      padding: 0% 12%;
      top: -150px;
    }
  
    .imgcell{
      width: 50%;
    }
  
    .nosot{
      padding-top: 20%;
      padding-bottom: 20%;
      width: 50%;
    }
  
    .phone{
      width: 80%;
    }
  
    .tit{
      width: 300px;
    }
  
    .nos{
      padding: 0% 5%;
    }
  
  /*Guests*/

    .tit1{
      width: 85%;
    }
    
    .inv{
      display: inline-block;
      width: 33.33%
    }
  
  /*Topics*/
  
    .tit3{
      width: 85%;
    }
  
    .topics{
      flex-direction: row;
    }
  
    .topic{
      width: 25%;
    }
  
  /*News*/
  
    .novedades{
      padding: 4% 4% 2% 4%;
    }
    .nove{
      width: 500px;
      padding: 0%;
    }

  /*Footer*/
  
    footer {
      padding: 1% 5%;
      width: 90%;
      height: 100px;
      margin-top: -5%;
    }
  
    .copy{
      display: inline-block;
      width: 70%;
      text-align: left;
      margin-top: 40px;
    }
  
    .rede{
      display: inline-block;
      width: 20%;
      padding-top: 1em;
      margin: auto;
      margin-top: 40px;
    }
    
    .aa{
      margin: 0px 4% 0px 4%;
      width: 1em;
    }
  
  }
  