@media (min-width: 600px) and (max-width:900px){
    /*Body*/
    .p1{
      display: none;
    }
    .p2{
      display: block;
      width: 600px;
    }
    
    /*Guests*/
    .entrevistas{
      margin-top: -10%;
    }

    .inv{
      display: inline-block;
      width: 50%
    }
  
    /*Topics*/
  
    .tit3{
      width: 85%;
    }
  
    .topics{
      flex-direction: row;
    }
  
    .topic{
      width: 50%;
    }

    /*Foot*/
  
    .novedades{
      padding: 4% 4% 4% 4%;
    }
  
    .nove{
      width: 300px;
      padding: 0%;
    }
  
  }